.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    padding: 8rem;

    & .nav {
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 2rem;
        justify-items: center;
        align-items: center;

        &__link:link,
        &__link:visited {
            font-size: 1.4rem;
            color: #fff;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: center;
            padding: 1.5rem;
            display:inline-block;
            transition: all .2s;
        }

        &__link:hover,
        &__link:active {
            background-color: rgba(#fff, .2);
            transform: 
                translateY(-.3rem)
                scale(1.05);
        }
    }

    & .copy {
        width: 70%;
        margin: 6rem auto 0;
        font-size: 1.4rem;
        color: $color-grey-light-2;
        text-align: center;

        & a:link,
        & a:visited {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            font-family: $font-display;
            transition: all .2s;
        }

        & a:hover,
        & a:focus {
            background-color: rgba(#fff, .2);
            transform: 
                translateY(-.3rem);
        }
    }
}
